@font-face {
  font-family: "Suisse-Regular";
  src: url("../webfonts/Suisse-regular.ttf");
}
@font-face {
  font-family: "Suisse-Bold";
  src: url("../webfonts/Suisse-bold.otf");
}
@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 36px;
  scrollbar-width: none;
  scroll-behavior: smooth;
  direction: rtl;
  font-family: "Suisse-Regular", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
body {
  position: relative;
  overflow-x: hidden;
  scrollbar-width: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background-color: unset;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background: #eee;
  height: 300px;
}

input[type="number"] {
  &::-webkit-outer-spin-button {
    display: none;
  }
  &::-webkit-inner-spin-button {
    display: none;
  }
  appearance: textfield;
  -moz-appearance: textfield;
}
$main: #121212;
$second: #0045ba;
$second20: #E4EEFF80;
$dashboardBg: #f2f4f7;
$gray: #667085;
$cardBg: #fcfcfd;
$border: #eaecf0;
$inputBG: #f9fafb;
$white: #fff;
$inputHint: #aaaaaa;
$grayLight: #777777cc;
$lightGray: #eeeeee;
$text: #666b88;
$JumbotronHead: #4f4f4f;
$inputStroke: #f2f2f2;
$transation: 0.3s ease-in-out;

.conatiner {
  padding: 0;
}

.table-container {
  white-space: nowrap !important;
  border: 1px solid $border;
  overflow: hidden;
  border-radius: 12px !important;
  tbody tr {
    border-bottom: 1px solid $border;
    td {
      padding: 12px 16px;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  .p-datatable-thead {
    background: $inputBG;
    border-bottom: 1px solid $border;
    .p-column-header-content {
      padding: 12px 16px;
      color: $gray;
      font-size: 14px;
    }
  }
  .status-success {
    padding: 0 8px;
    border-radius: 100px;
    color: $white;
    width: 90px;
    font-size: 15px;
    display: flex;
    margin-left: auto;
    justify-content: center;
  }
  .status-danger {
    padding: 0 8px;
    font-size: 15px;
    border-radius: 100px;
    color: $white;
    width: 90px;
    display: flex;
    margin-left: auto;
    justify-content: center;
  }
}

.status-Ended {
  background: #fef3f2;
  border-radius: 50%;
  border: 1px solid #fecdca;
  color: #b42318;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 30px;
}
.status-Started {
  background: #ecfdf3;
  border-radius: 50%;
  border: 1px solid #abefc6;
  color: #067647;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 30px;
}
.status-Scheduled {
  background: #eff8ff;
  border-radius: 50%;
  border: 1px solid #b2ddff;
  color: #175cd3;
  font-size: 12px;
  font-weight: 500;
  padding: 6px 8px;
  border-radius: 30px;
}

.form-check .form-check-input {
  margin-left: 0 !important;
}

.Toastify__toast-body {
  direction: ltr !important;
}
.Toastify__toast-body > div:last-child {
  line-height: 24px;
  flex: unset;
  font-size: 14px;
  gap: 8px;
}
@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    right: 0;
    left: initial;
  }
}
.Toastify__toast-icon {
  margin-inline-start: 8px;
  margin-inline-end: 0;
}

.form-check-input:checked {
  background-color: $second;
  border-color: $second;
}